<style>
  body {
    background-color: #131722;
    height: 100vh;
  }
  label {
    color: white;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="text-muted text-center p-5">Payment Checkout Form</h1>
  <form>
    <div class="mb-3">
      <input type="number" class="form-control w-50 m-auto" id="pin" min="0" placeholder="Enter Pin">
      <p id="pin-error" class="text-muted text-center"></p>
      <p id="pin-valid" class="text-success text-center"></p>
    </div>
    <div class="mb-3">
      <input type="date" class="form-control w-50 m-auto" id="expiry-date" placeholder="Enter expiry date">
      <p id="date-error" class="text-muted text-center"></p>
      <p id="date-valid" class="text-success text-center"></p>
    </div>
    <div class="text-center">
      <button type="button" (click)="onClick()" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>
</html>